@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;

    }
    to {
        opacity: 1;
    }
}

@keyframes fadein-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadein-out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@font-face {
    font-family: amoresa;
    src: url(fonts/amoresa.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    padding: 0%;
    margin: 0%;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*overflow: hidden;*/
    background-color: #a00b33;
    position: relative;
}

.border-top {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 50%;
    background-image: url(images/top.svg); 
    background-size: contain;
    background-repeat: no-repeat;
}

.border-bottom {
    position: absolute;
    top: 85%; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    height: 50%;
    background-image: url(images/bottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.center-image {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; 
    height: 50%;
    background-image: url(images/center.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.center-image-top {
    position: absolute;
    top: 8%; 
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 40%;
    background-image: url(images/rose.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.adjusted-text {
   
    top: 27%;
    /*left: 50%;*/
    /* margin-bottom: 50px; */
    width: 100%;
    font-family: "Libre Baskerville", serif;
    color: #f6a7c2;
    margin: 0 0 20px 0;
    letter-spacing: 1.3px;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    opacity: 0;
    
    -webkit-animation: fadein 1s ease-in forwards;
    -moz-animation: fadein 1s ease-in forwards;
    -o-animation: fadein 1s ease-in forwards;
    animation: fadein 1s ease-in forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.middle-container {
    position: absolute;
    display: inline-block;
    top: 40%;
    
    width: 100%;
    text-align: center;
}

.middle-gif {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    opacity: 0;
    /*background-image: url('images/2.gif'); 
    background-size: contain;
    background-repeat: no-repeat;*/

    -webkit-animation: fadein-out 6s ease-in forwards;
    -moz-animation: fadein-out 6s ease-in forwards;
    -o-animation: fadein-out 6s ease-in forwards;
       animation: fadein-out 6s ease-in forwards;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}
.middle-text {
    
    color: #f6a7c2;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "amoresa", serif;
    font-size: 3.4rem; 
    line-height: 1.2;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    opacity: 0;

    -webkit-animation: fadein 1s ease-in forwards;
    -moz-animation: fadein 1s ease-in forwards;
    -o-animation: fadein 1s ease-in forwards;
    animation: fadein 1s ease-in forwards;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}

.bottom-image {

    position: absolute; 
    top: 47%; 
    display: block;
    margin: 0px auto;
    width: 100%;
    height: auto;
    opacity: 0;

    -webkit-animation: fadein 1s ease-in forwards;
    -moz-animation: fadein 1s ease-in forwards;
    -o-animation: fadein 1s ease-in forwards;
    animation: fadein 1s ease-in forwards;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}

.date-container {
    position: absolute;
    display: inline-block;
    top: 46%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    text-align: center;
}

.date {
    
    /*position: relative;
    top: 10px;
    display: block;
    margin: 0px auto;*/
    width: 100%;
    height: auto;
    opacity: 0;

    -webkit-animation: fadein 1s ease-in forwards;
    -moz-animation: fadein 1s ease-in forwards;
    -o-animation: fadein 1s ease-in forwards;
       animation: fadein 1s ease-in forwards;
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -o-animation-delay: 9s;
    animation-delay: 9s;
}

.circle {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: block;
    margin: 0px auto;*/
    width: 200%;
    height: auto;
    opacity: 0;

    -webkit-animation: fadein-out 8s ease-in forwards;
    -moz-animation: fadein-out 8s ease-in forwards;
    -o-animation: fadein-out 8s ease-in forwards;
       animation: fadein-out 8s ease-in forwards;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;

}

.text1 {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Libre Baskerville", serif;
    font-size: 0.7rem;
    font-weight: 350;
    color: #f6a7c2;
    letter-spacing: 2px;
    text-align: center;
    opacity: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

    -webkit-animation: fadein 1s ease-in forwards;
    -moz-animation: fadein 1s ease-in forwards;
    -o-animation: fadein 1s ease-in forwards;
       animation: fadein 1s ease-in forwards;
    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;
    -o-animation-delay: 13s;
    animation-delay: 13s;
}

.text2 {
    position: absolute;
    top: 62.5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Libre Baskerville", serif;
    font-size: 0.7rem;
    font-weight: 350;
    color: #f6a7c2;
    letter-spacing: 2px;
    text-align: center;
    opacity: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

    -webkit-animation: fadein 1s ease-in forwards;
    -moz-animation: fadein 1s ease-in forwards;
    -o-animation: fadein 1s ease-in forwards;
       animation: fadein 1s ease-in forwards;
    -webkit-animation-delay: 14s;
    -moz-animation-delay: 14s;
    -o-animation-delay: 14s;
    animation-delay: 14s;
}

.write-container {
    position: absolute;
    top: 65%; /* Adjust position under text2 */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.write-button img {
    /*position: fixed; new*/
    /*bottom: 10%;*/
    /*display: block;*/
    /*padding:  0.5em 1em;*/
    /*top: calc(62.5% + 40px);
    left: 50%;
    transform: translateX(-50%) scale(0.2);*/ 
    /*transform-origin: top right;*/
    opacity: 0;
    width: 10vw;/*new*/
    height: auto;/*new*/
    /*max-width: 5rem;*/
    
    -webkit-animation: fadein 1s ease-in forwards;
    -moz-animation: fadein 1s ease-in forwards;
    -o-animation: fadein 1s ease-in forwards;
       animation: fadein 1s ease-in forwards;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
       animation-delay: 15s;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    transition: opacity 0.3s ease-in-out;
}
